<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">

</head>
<body ng-app="app">
    <div ng-controller="DemoCtrl" layout="column" ng-cloak>
        <md-content class="md-padding">
            <form ng-submit="$event.preventDefault()">
                <p id="autocompleteDescription">
                </p>
                <label id="favoriteStateLabel">Search by Employee Name</label>
                <md-autocomplete ng-disabled="isDisabled"
                                 md-no-cache="noCache"
                                 md-selected-item="item"
                                 md-search-text="searchText"
                                 md-selected-item-change="selectedEmployeeName(item)"
                                 md-items="item in searchEmployee(searchText)"
                                 md-item-text="item.empName"
                                 md-min-length="2"
                                 placeholder="Ex. Chandan"
                                 input-aria-labelledby="favoriteStateLabel"
                                 input-aria-describedby="autocompleteDetailedDescription">
                    <md-item-template>
                        <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.empName}}</span>
                    </md-item-template>
                    <md-not-found>
                        No states matching "{{searchText}}" were found.
                       
                    </md-not-found>
                </md-autocomplete>

                <md-input-container flex>
                    <label>Name</label>
                    <input ng-model="employee.empName" readonly>
                </md-input-container>
                <md-input-container flex>
                    <label>Gender</label>
                    <input ng-model="employee.gender" readonly>
                </md-input-container>
                <md-input-container flex>
                    <label>Address</label>
                    <input ng-model="employee.empAddress" readonly>
                </md-input-container>
            
            </form>
        </md-content>
    </div>
    
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    <script src="app/controllers/demoController.js" defer></script>

</body>
</html>